doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 文章信息展示
    link(rel='stylesheet', href='css/index.css', type='text/css')
  body
    .wrap
      ul.news-list
      each val in newData
        li.news
          a(href='javascript:;')
            img(src=val.imgUrl, alt='')
          div
            h3
              a(href='/detail?id='+val.id) #{val.title}
            .info
              span.tips
                span #{val.from}
              span.time |   #{val.newTime}
      .pagination
        a.prev(href='/index?p='+(p<2?1:p-1)) ⌜
        - for (let i=1;i<=pageCount;i++)
            a(href='/index?p='+i) #{i}
        a.next(href='/index?p='+(p>=pageCount?pageCount:p+1)) ⌝
